$colors: (
    white: (
        100: hsl(0, 0%, 100%),
        200: hsl(216, 20%, 95%),
        300: hsl(216, 20%, 69%),
        400: hsl(216, 20%, 50%),
        500: hsl(216, 20%, 40%)
    ),
    grey: (
        100: hsl(220, 7%, 100%),
        200: hsl(220, 7%, 90%),
        300: hsl(220, 7%, 82%),
        400: hsl(220, 7%, 70%),
        500: hsl(220, 7%, 60%)
    ),
    black: (
        100: hsl(0, 0%, 53%),
        150: hsl(220, 3%, 41%),
        200: hsl(0, 0%, 40%),
        300: hsl(0, 0%, 30%),
        400: hsl(0, 0%, 20%),
        500: hsl(0, 0%, 10%),
        600: hsl(0, 0%, 5%),
        700: hsl(0, 0%, 0%)
    ),
    sea: (
        100: hsl(190, 100%, 12%),
        200: hsl(190, 100%, 22%),
        300: hsl(190, 100%, 32%),
        400: hsl(190, 100%, 42%),
        500: hsl(190, 100%, 52%),
    ),
    green: (
        100: hsl(164, 46%, 35%),
        200: hsl(164, 46%, 45%),
        300: hsl(164, 46%, 55%),
        400: hsl(164, 46%, 65%),
        500: hsl(164, 46%, 75%),
    ),
);
